.centered-list-item-text {
	text-align: center;
	align-content: center;
	align-items: center;
}

.add-item-button-content {
	display: inline-flex;
	vertical-align: middle;
}

.add-item-button-icon {
	margin-right: 7px;
}

.divider {
	width: 50%;
	border: 1px solid #909090;
}