.timer-icons {
	display: flex;
	justify-content: center;
}

.timer-content {
	display: flex;
	flex-wrap: wrap;
}

.timer-timer {
	width: 100%;
	text-align: center;
}

.timer-phase {
	width: 100%;
	text-align: center;
}
