.todo-list-item {
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	-moz-animation: fadeIn ease 1s;
	-o-animation: fadeIn ease 1s;
	-ms-animation: fadeIn ease 1s;
}

.todo-list-item-text * {
	font-size: 1rem !important;
}

.strikethrough-div {
	position: relative;
}

.strikethrough-div:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 1.5px solid #000000;
	width: 92%;
}